@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


:root{
  /* Colors */
  --primary-strong-cyan: hsl(171, 66%, 44%);
  --primary-lightblue: hsl(233, 100%, 69%);

  --secondary-dark-grayish-blue: hsl(210, 10%, 33%);
  --secondary-grayish-blue: hsl(201, 11%, 66%);

  /* Body font */
  --body-font: 18px;

  --font-family:  'Bai Jamjuree', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utilities */
body{
  font-family: var(--font-family);
  color: var(--secondary-grayish-blue);
}
h2,h3{
  font-family: var(--font-family);
  color: var(--secondary-dark-grayish-blue);
}

.btn {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.btn a{
  text-decoration: none;
  margin-inline:auto;
  padding-block: 1rem;
  padding-inline: 2rem;
  color: #fff;
  border-radius: 50px;
  max-width: 22rem;
  box-shadow: 0px 10px 20px -1px gray;
}

.btn a:hover{
  opacity: 0.8;
  cursor: pointer;
}

.btn-iOS{
  background-color: var(--primary-strong-cyan);
  box-shadow: 0px 10px 20px -1px hsl(171, 66%, 44%);
  margin-bottom: 2rem;
}
.btn-Mac{
  background-color: var(--primary-lightblue);
}
/* Header */
header{
  background: url(images/bg-header-mobile.png) no-repeat center center/ cover;
  padding-block: 8rem;
  padding-inline: 3rem; 
  text-align: center;
  font-size: 1.5rem;
  width: minmax(80%,100);
}

header img{
  margin: 0 auto;
  margin-bottom: 3rem;
}

header .heading{
  text-align: center;
  margin-bottom: 3rem;
}

.heading p{
  font-size: var(--body-font);
}

/* Section Info */
.container-info{
  padding-inline: 2rem;
}

.container-info .info{
  text-align: center;
  margin-bottom: 5rem;
 
}
.container-info .info h3{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.column {
  display: grid;
  grid-auto-flow: row;
  margin-bottom: 5rem;
}

.column img{
  margin-bottom: 3rem;
}

.column .column-info{
  display: flex;
  flex-direction: column;
}

.column-info .card-info{
  margin-block: 1rem;
  text-align: center;
}

/* Section Functions */
.container-functions{
  padding-inline: 2rem;
}

.functions-title{
  text-align: center;
  padding-block: 3rem;
}

.functions-title h3{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container-functions img{
  margin-bottom: 4rem;
}

.row-functions{
  display: grid;
  grid-auto-flow: row;
}

.row-card{
  display: grid;
  place-items: center;
  text-align: center;
  margin-block-end: 4rem;
}
.row-card img{
  margin-bottom: 2rem;
}

/* Company */
.company{
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.company img{
  margin-block: 3rem;
}

/* Download */
.download{
  display: grid;
  place-items: center;
  padding-inline: 2rem ;
  margin-bottom: 10rem;
  text-align: center;
}

.download h3{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.download .btn{
  margin-top: 2rem;
}

/* Footer */
footer{
  background-color: rgba(233, 231, 231, 0.356); 
  display: grid;
  place-items: center;
  grid-auto-flow: row;
  gap: 2rem;
  color: var(--secondary-dark-grayish-blue);
  padding-block: 4rem;
}

.footer{
  text-align: center;
  font-size: 1.3rem;
}

.footer img{
  margin: 0 auto;
}

.footer img,a{
  margin-block: 2rem;
}

.p-footer a{
  text-decoration: none;
  font-weight: bold;
  color: gray;
  display: grid;
  grid-auto-flow: row;
}


footer .socials i{
  padding-inline: 2rem; 
}

footer .socials i:hover{
  color: var(--primary-strong-cyan); 
  cursor: pointer;
}

.p-footer a:hover{
  color: var(--primary-strong-cyan);
  cursor: pointer;
}

/* Media Queries */

@media (min-width: 60em){

  .container-header{
    max-width: 50rem;
    margin-inline: auto;
  }

  .btn{
    grid-auto-flow: column;
  }

  .btn-header a{
    justify-self:end;
  }

  .column{
    grid-auto-flow: column;
    
  }

  .column img{
    margin-left: -5rem;
    margin-bottom: 0;
  }
  .column-info{
    padding-block-start: 5rem;
  }

  .column-info .card-info{
    text-align: start;
    padding-block: 1rem;
    padding-inline-end: 5rem;
    margin-block: .1rem
  }

  .column-info .card-info p{
    margin-block: 1rem;
  }

  .container-functions img{
    margin: 0 auto;
  }

  .row-functions{
    grid-auto-flow: column;
    gap: 5rem;
    padding: 4rem;
  }

  .company{
    grid-auto-flow: column;
  }

  .download .btn a{
    margin-inline: 5rem;
  }

  footer{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
  }

  .footer{
    display: flex;
   
  }

  .p-footer{
    margin-left: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 0;
  }
}